.actions__section{
    @include min(1360px){
        margin-bottom: 50px;
    }
}

.actions__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
    h3{
        font-style: normal;
        font-weight: 500;
        font-size: 16.2921px;
        line-height: 19px;
        color: $head-text;

        @include min(576px){
            font-size: 18px;
        }
    }
    span{
        font-weight: 700;
    }

    @include min(992px){
        display: none;
    }
}

.actions__item .actions__swiper{
    padding: 10px;
}

.actions__item:not(:last-child){
    margin-bottom: 50px;

    @include min(976px){
        margin-bottom: 0;
    }
}

.actions__buttons{
    display: flex;
    gap: 15px;
}


.card{
    background-color: #fff;
    padding: 8px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    gap: 8px;
    transition-duration: .3s;

    &:hover{
        box-shadow:  0 0 15px #c4c4c4;
    }
}

.card__image{
    width: 100%;
    height: 100px;
    object-fit: contain;

    @include min(576px){
        height: 130px;
    }

    @include min(992px){
        height: 200px;
    }
}

.card__info{
    display: flex;
    flex-direction: column;
    gap: 6px;

    @include min(992px){
        margin-top: 15px;
    }
}

.card__name{
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 130%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $primary-color;

    @include min(576px){
     font-size: 11px;
    }

    @include min(992px){
        font-size: 15px;
    }
}

.card__code{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;

    &-text{
        font-style: normal;
        font-weight: 400;
        font-size: 7px;
        line-height: 130%;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $head-text;

        @include min(576px){
            font-size: 9px;
        }

        @include min(992px){
            font-size: 12px;
        }
    }

    &-number{
        font-style: normal;
        font-weight: 600;
        font-size: 7px;
        line-height: 130%;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $head-text;

        @include min(576px){
            font-size: 9px;
        }

        @include min(992px){
            font-size: 12px;
        }
    }
}

.card__price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__cart-button{
    svg{
        width: 14px;
        height: 14px;

        @include min(576px){
            width: 18px;
            height: 18px;
        }

        @include min(992px){
            width: 22px;
            height: 22px;
        }
    }

}

.price__number{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 11px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $primary-color;

    @include min(576px){
        font-size: 14px;
    }

    @include min(992px){
        font-size: 16px;
    }
}

.price__type{
    font-style: normal;
    font-weight: 600;
    font-size: 9.2322px;
    line-height: 11px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $primary-color;

    @include min(576px){
        font-size: 12px;
    }

    @include min(992px){
        font-size: 14px;
    }
}

.actions__tab-buttons{
    display: none;

    @include min(992px){
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }
}

.tab-buttons__box{
    display: flex;
    gap: 20px;

    @include min(1360px){
        gap: 80px;
    }
}

.tabs__btn.active{
    border-bottom: 1px solid $hover-color;

    .tab-name{
        font-size: 24px;
        font-weight: 700;
    }
}

.tab-name{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: $head-text;
}

.swiper-buttons__box{
    display: flex;
    align-items: center;
    gap: 20px;


}

.tabs__item{
    @include min(992px){
        display: none;
    }

    &.active{
        display: block;
    }
}





