.categories__section{
    h2{
        margin-bottom: 22px;

        @include min(992px){
            margin-bottom: 50px;
        }
    }

    @include min(1360px){
        margin-bottom: 50px;
    }
}

.categories-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    @include min(1360px){
        gap: 40px;
    }
}

.categories-list__item{
    width: calc(50% - 10px);

    img{
        height: 120px;
        object-fit: cover;
        border-radius: 12px;
    }

    .categories__text{
        display: block;
        width: fit-content;
        padding-right: 20px;
        margin: 20px 0;
        position: relative;

        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: $primary-color;

        transition-duration: .3s;

        &::before{
            content: '';
            position: absolute;
            top: -7px;
            left: -10px;
            z-index: -1;
            width: 30px;
            height: 30px;
            border-radius: 50%;

            transition-duration: .3s;

            background-color: $bg-light;
        }
    }

    a:hover .categories__text{
        color: $hover-color;
    }

    a:hover .categories__text::before{
        width: 100%;
        height: calc(100% + 15px);
        border-radius: 15px;
    }



    @include min(992px){
        width: calc(32.8% - 10px);

        img{
            height: 240px;
        }

        .categories__text{
            font-size: 18px;
        }
    }

    @include min(1360px){
        &:nth-child(1), &:nth-child(6){
            width: calc(42.2% - 40px);
        }

        &:nth-child(2), &:nth-child(5){
            width: calc(33.3% - 40px);
        }

        &:nth-child(3), &:nth-child(4){
            width: calc(24.3% - 40px);
        }

        .categories__text{
            font-size: 20px;
        }
    }
}
