* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;

}

img{
    width: 100%;
    height: auto;
    display: block;

}

a{
    text-decoration: none;
    color: $secondary-color;
}

.list{
    list-style: none;
}

.link {
    text-decoration: none;
}

.button{
    border: none;
    background-color: inherit;
}

.section{
    padding: 25px 0;

    &>h2{
        margin: 0;
        padding: 0;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: $head-text;

        @include min(768px){
            font-size: 24px;
        }

        @include min(1200px){
            font-size: 30px;
        }

    }
}

.container {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}


@include min(576px) {
    .container {
        max-width: 570px;
        margin: 0 auto;
    }
}

@include min(768px) {
    .container {
        max-width: 750px;
    }
}

@include min(992px) {
    .container {
        max-width: 990px;
    }
}

@include min(1200px) {
    .container {
        max-width: 1170px;
    }
}

@include min(1360px) {
    .container {
        max-width: 1350px;
    }
}

@include min(1560px) {
    .container {
        max-width: 1530px;
    }
}

@include min(1700px) {
    .container {
        max-width: 1600px;
    }
}


