* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;

}

img{
    width: 100%;
    height: auto;
    display: block;

}

a{
    text-decoration: none;
    color: $secondary-color;
}

textarea:focus, input:focus{
    outline: none;
}

.is-locked{
    overflow: hidden;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

.list{
    list-style: none;
}

.link {
    text-decoration: none;
}

button{
    cursor: pointer;
}

.button{
    border: none;
    background-color: inherit;

}

.swiper-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $bg-light;
    transition-duration: .3s;

    svg{
        fill: none;
        stroke: $head-text;
        width: 12px;
        height: 12px;
        transition-duration: .3s;

        @include min(992px){
            width: 15px;
            height: 15px;
        }
    }

    &:hover{
        background-color: $hover-color;

        svg{
            stroke: #fff;
        }
    }

    @include min(992px){
        width: 35px;
        height: 35px;
    }
}

.swiper-button__prev{
    transform: rotate(90deg);
    transition-duration: .3s;

    svg{
        transition-duration: .3s;
    }

    &.swiper-button-disabled{
        background-color: $inactive-color;
        cursor: default;

        svg{
            stroke: #9e9e9e;
        }
    }
}

.swiper-button__next{
    transform: rotate(-90deg);
    transition-duration: .3s;

    svg{
        transition-duration: .3s;
    }

    &.swiper-button-disabled{
        background-color: $inactive-color;
        cursor: default;

        svg{
            stroke: #9e9e9e;
        }
    }
}

.section{
    padding: 25px 0;

    & h2{
        margin: 0;
        padding: 0;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 19px;
        color: $head-text;

        @include min(768px){
            font-size: 24px;
        }

        @include min(1200px){
            font-size: 30px;
        }

    }
}

.container {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}


@include min(576px) {
    .container {
        max-width: 570px;
        margin: 0 auto;
    }
}

@include min(992px) {
    .container {
        max-width: 990px;
    }
}


@include min(1360px) {
    .container {
        max-width: 1350px;
    }
}


@include min(1700px) {
    .container {
        max-width: 1600px;
    }
}


