header{
    position: relative;

    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 65px;

        background-color: $bg-light;

        @include min(992px){
            height: 50px;
        }
    }
}

.header__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.header__modal{
    display: flex;
    align-items: center;
    height: 65px;


    & svg{
        fill: none;
        stroke: $primary-color;
    }
}

.header__logo{
    display: flex;
    align-items: center;
    height: 65px;
    width: 53%;

    @include min(992px){
        order: 2;
        display: flex;
        width: 25%;
    }
}

.header__search-modal{
    @include min(992px){
        order: 4;

    }
}

.header__menu-modal{
    @include min(992px){
        order: 1;
        width: 100%;
        height: 50px;
    }
}

.header__phones{
    display: none;
    position: relative;

    .phones__number{
        display: flex;
        align-items: center;
        gap: 10px;

    }

    .phones__number-normal{
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 120%;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #000;
    }

    .phones__number-bold{
        font-weight: 600;
    }

    .phones__button{
        display: flex;
        align-items: center;
        svg{
            fill: none;
            stroke: $primary-color;
        }
        transition-duration: .3s;

        &.is-open{
            transform: rotate(180deg);
        }
    }

    @include min(992px){
        display: flex;
        align-items: center;
        order: 3;
    }

    .phones__box{
        display: none;

        @include min(992px){
            opacity: 0;
            pointer-events: none;
            display: block;
            flex-direction: column;
            position: absolute;
            padding: 30px;
            margin-top: 10px;
            border-radius: 20px;
            box-shadow: 0 0 40px rgba(90,129,154,.3);
            top: 100%;
            right: 0;
            background-color: #fff;
            z-index: 20;
            width: 100%;

            transition-duration: .4s;

            &.is-open{
                opacity: 1;
                pointer-events: all;
            }
        }
    }

    .contact__number-list{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .number-list__item{
        display: flex;
        align-items: center;
        gap: 10px;

        a{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .number-list__phone{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $primary-color;

    }

    .phones__plan{
        margin-top: 30px;
    }

    .phones__title{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $head-text;
    }

    .phones__plan-list{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 15px;
    }

    .plan-list__item{
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 120%;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $primary-color;

        span{
            font-weight: 600;
        }
}


}


.logo__link{
    display: flex;
    width: 135px;
    height: inherit;

    @include min(992px){
        width: 180px;
    }
}





.menu-button__wrapper{
    position: relative;
    width: 18px;
    height: 20px;
}

.header__menu-button{
    display: flex;
    align-items: center;

    &.is-open .menu-button__span{
        background-color: transparent;
        transition-delay: .15s;
    }

    &.is-open .menu-button__span::before{
        background-color: $hover-color;
        top: -2px;
        width: 22px;
        transform: translate3d(0, 10px, 0) rotate(-45deg);
        transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .1s,transform .13s cubic-bezier(0.22, 0.61, 0.36, 1) .22s;

    }

    &.is-open .menu-button__span::after{
        background-color: $hover-color;
        top: -2px;
        width: 22px;
        transform: translate3d(0, 10px, 0) rotate(45deg);
        transition: top .2s cubic-bezier(.33333,0,.66667,.33333),transform .13s cubic-bezier(.215,.61,.355,1) .22s;
    }

    @include min(992px){
        display: none;
    }
}

.header__cart-modal{
    @include min(992px){
        display: none;
    }
}

.header__search-icon{
    transition:all .3s ease-in ;

    @include min(992px){
        display: none;
    }
}

.header__search.is-open .header__search-icon{

    stroke: $hover-color;
}

.menu-button__span{
    position: absolute;
    left: 0;
    top: -2;
    display: inline-block;
    width: 18px;
    height: 2px;
    border-radius: 4px;
    background-color: $primary-color;

    &::before{
        content: '';
        position: absolute;
        top: 7px;
        right: 0;
        background-color: $primary-color;
        width: 14px;
        height: 2px;
        border-radius: 4px;

        transition: top .1s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);

    }

    &::after{
        content: '';
        position: absolute;
        top: 14px;
        right: 0;
        background-color: $primary-color;
        width: 10px;
        height: 2px;
        border-radius: 4px;

        transition:top .1s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19) ;

    }


}


.search-modal__box{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    height: calc(100vh - 65px);
    background-color: #fff;
    z-index: 10;
    transition: opacity 0.3s ease-in;

    &.is-open{
        opacity: 1;
        pointer-events: all;
    }

    .modal__search{
        padding: 60px 24px 70px 24px;
    }

    .modal__search-form{
        display: flex;
        height: 50px;
        border: 1px $primary-color solid;
        border-radius: 60px;
        overflow: hidden;



        & input{
            border: none;
            width: calc(100% - 48px);
            padding-left: 35px;



        }

        & button{

            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;

            background-color: $bg-light;
            border-radius: 50%;
        }

        & svg{
            stroke: $hover-color;
        }

    }

    .modal__contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 70px;
    }

    .contact__title{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;

        p{
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            color: $head-text;
        }
    }

    .contact__number-list{
        display: flex;
        flex-direction: column;
        gap: 14px;

        & svg{
            stroke: none;
        }

        li{
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: $primary-color;
        }
    }

    .number-list__item{
        display: flex;
        align-items: center;
        gap: 3px;

        a{
            display: flex;
        }
    }

    .social-list{

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        svg{
            stroke: none;
        }
    }

    @include min(992px){
        opacity: 1;
        position: static;
        pointer-events: all;
        height: auto;
        background-color: transparent;

        .modal__contact{
            display: none;
        }

        .modal__social{
            display: none;
        }

        .modal__search{
            padding: 0;
            width: 400px;
        }

    }

    @include min(1360px){
        .modal__search{
            width: 550px;
        }
    }

}


.menu-modal__box{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    height: calc(100vh - 65px);
    padding: 0 15px;
    background-color: #fff;
    z-index: 10;
    color: $secondary-color;

    transition: opacity 0.3s ease-in;

    &.is-open{
        opacity: 1;
        pointer-events: all;
    }

    .modal__fav{
        margin-top: 19px;
        padding-left: 25px;

        a{

            display: flex;
            align-items: center;
            gap: 20px;

            font-weight: 400;
            font-size: 16px;
            line-height: 120%;

            color: $secondary-color;
        }

        span{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: $secondary-color;
            transition-duration: .3s;

            @include min(992px){
                font-weight: 600;
            }
        }

        &:hover span{
            color: $hover-color;
        }

        .fav-icon{
            position: relative;
        }


        .fav-icon::after{
            content: '12';
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $hover-color;
            border-radius: 50%;
            width: 13px;
            height: 13px;
            top: -2px;
            right: -3px;


            font-weight: 700;
            font-size: 6.66667px;
            line-height: 120%;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #fff;
        }
    }

    .modal__cart{
        margin-top: 19px;
        padding-left: 25px;

        a{

            display: flex;
            align-items: center;
            gap: 20px;

            font-weight: 400;
            font-size: 16px;
            line-height: 120%;

            color: $secondary-color;
        }

        span{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: $secondary-color;

            transition-duration: .3s;

            @include min(992px){
                font-weight: 600;
            }
        }

        &:hover span{
            color: $hover-color;
        }

        .cart-icon{
            position: relative;
        }


        .cart-icon::after{
            content: '12';
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $hover-color;
            border-radius: 50%;
            width: 13px;
            height: 13px;
            top: -2px;
            right: -3px;


            font-weight: 700;
            font-size: 6.66667px;
            line-height: 120%;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #fff;
        }
    }

    .modal__cart{
        display: none;
    }

    .modal__nav{
        border-top: 1px $inactive-color solid;
        border-bottom: 1px $inactive-color solid;
        padding: 26px 0;
        margin-top: 23px;
        margin-bottom: 32px;

    }

    .nav{
        padding-left: 25px;
    }

    .nav-list{
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include min(1360px){
            gap: 60px;
        }
    }

    .nav-list__item{
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: $secondary-color;

        &:hover .nav-link{
            color: $hover-color;
        }
    }

    .nav-link{
        transition-duration: .3s;

    }

    .modal__contact{
        margin-left: 40px;
        margin-bottom: 36px;
    }

    .contact__title{
        p{
            margin-bottom: 16px;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: $head-text;
        }
    }

    .contact__number-list{
        display: flex;
        flex-direction: column;
        gap: 14px;

        & svg{
            stroke: none;
        }

        li{
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: $primary-color;
        }
    }

    .number-list__item{
        display: flex;
        align-items: center;
        gap: 3px;

        a{
            display: flex;
        }
    }

    .modal__lang-switch{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lang-list{
        display: flex;
        flex-direction: row;
        gap: 23px;
    }

    .lang-list__item{
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;

        &:nth-child(1) a{
            color: $head-text;
        }

        &:nth-child(2) a{
            color: $inactive-color;
        }
    }

    @include min(992px){
        opacity: 1;
        pointer-events: all;
        position: static;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $bg-light;
        padding: 0;

        .modal__contact{
            display: none;
        }

        .modal__fav{
            order: 3;
            a{
                gap: 10px;
            }
            margin: 0;
            padding: 0;
        }

        .modal__nav{
            order: 1;
            border: none;
            padding: 0;
            margin: 0;
        }

        .nav{
            padding: 0;
        }

        .nav-list{
            flex-direction: row;
        }

        .modal__lang-switch{
            order: 2;

        }

        .modal__cart{
            display: block;
            order: 4;
            padding: 0;
            margin: 0;
            a{
                gap: 10px;
            }
        }
    }
}

