@mixin min($width) {
    @media screen and (min-width: #{$width}) {
        @content;
    }
}
@include min(576px) {
    .container {
        max-width: 570px;
    }
}

@include min(768px) {
    .container {
        max-width: 750px;
    }
}

@include min(992px) {
    .container {
        max-width: 990px;
    }
}

@include min(1200px) {
    .container {
        max-width: 1170px;
    }
}

@include min(1360px) {
    .container {
        max-width: 1350px;
    }
}

@include min(1560px) {
    .container {
        max-width: 1530px;
    }
}

@include min(1700px) {
    .container {
        max-width: 1600px;
        margin:0 auto;
    }
}