/* Primary colors */
$darkGrey: #212121;
$charcoal: #2C2C35;
$grey: #DBDCDE;
$snow: #F3F6F9;
$white: #FFF;
/* Secondary colors */
$orangeRed: #E96315;
$steelBlue: #5B819A;
$disabledColor:#a6a5a5;
/* Font Style's */
$ralewayFont: 'Raleway', sans-serif;
